<br>
<div class="congtainer">
<h1>Reactive Forms</h1>
</div>
<br>
<form [formGroup] = "submitform" (ngSubmit)="postSubmit()"> 
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" formControlName="emailAddressField">
        <span *ngIf = "submitform.get('emailAddressField').touched  && submitform.get('emailAddressField').hasError('required')"> Enter the  email Address</span>
        <span *ngIf = "submitform.get('emailAddressField').touched  && submitform.get('emailAddressField').hasError('email')"> Enter the valid email Address</span>
        <span *ngIf = "submitform.get('emailAddressField').touched  && submitform.get('emailAddressField').hasError('minlength')"> Minimum 5 character required</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Quantity" formControlName="quantityField">
        <span *ngIf = "submitform.get('quantityField').touched  && submitform.get('quantityField').hasError('required')">Please enter the quantity</span>
      </div>
    </div>
   <!----<div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">items</label>
        <div class="col-sm-10" formArrayName="item">
            <div *ngFor="let item of submitform.controls.item['controls'];let i = index " >
          <input type = "text" class = "form-control" [formControlName] = "i" id = "task{{i}}" >
          
        </div>
        </div>
      </div>--->


    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">items</label>
        <div class="col-sm-10" formArrayName="item">
            <div *ngFor="let item of submitform.controls.item['controls'];let i = index " [formGroupName]="i">
             <a [routerLink] (click) = "removeItem(i)">Remove item</a> 
          <input type="text" class="form-control" formControlName = "itemId"  id = "task{{i}}" >
          <br>
          <input type="text" class="form-control" formControlName = "itemName"  id = "task{{i}}" >
          <br>
          <input type="text" class="form-control" formControlName = "itemDesc"  id = "task{{i}}" >
          <br>
          <input type ="checkbox" formControlName="itemDone">Make as done
        </div>
        </div>
      </div>
   

   
      
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="termsField">
          <label class="form-check-label" for="gridCheck1">
            Agree to terms
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled] = "!submitform.valid">Sign in</button>
        <button  class="btn btn-link" (click) = "restForm();">Clear</button>
        <button  class="btn btn-link" (click) = "addNewItem();">Add row</button>
      </div>
    </div>
  </form>

  <div>
      Tracking the variable:{{ variabletracking }}
      </div>